# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file
# 팀에서 provider 버전을 고정할 경우에는 커밋하는 것을 권장
# .terraform.lock.hcl